<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>一点家居</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="top">
            <div class="con">
                <div>
                    <i>放大镜</i>
                </div>
                <div>登录 <span>|</span>注册</div>
                <div>请您</div>
            </div>
        </div>
        <div class="logoBox"></div>
    </header>
</body>
</html>