<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>一点家居</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1464787_ypllb076chm.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
</head>
<body>
    <header>
        <div class="top">
            <div class="con">
                <div>
                    <i class="iconfont icon-fangdajing"></i>
                </div>
                <div>
                    <i class="iconfont icon-gouwuche"></i>
                </div>
                <div>
                    <i class="iconfont icon-star"></i>
                </div>
                <div>
                    <i class="iconfont icon-gerenzhongxin"></i>
                </div>
                <div>登录 <span>|</span>注册</div>
                <div>请您</div>
            </div>
        </div>
        <div class="logoBox">
            <!--     logo       -->
            <div class="logo"></div>
            <!--     导航       -->
            <div class="nav">
                <div class="item">
                    <span>全部</span>
                    <span>All</span>
                </div>
                <div class="item">
                    <span>座椅</span>
                    <span>Seat</span>
                </div>
                <div class="item">
                    <span>床</span>
                    <span>Seat bed</span>
                </div>
                <div class="item">
                    <span>柜子</span>
                    <span>Seat cabinets</span>
                </div>
                <div class="item">
                    <span>边几</span>
                    <span>Seat Edge Several</span>
                </div>
            </div>
        </div>
    </header>
<!--轮播图-->
    <div class="swiper-container" style="width:1176px;height:600px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../static/img/index/banner1.png" alt="">
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
<!--New 新品首发-->
    <div class="new">
        <h4></h4>
        <div class="con">
            <div class="imgBox">
                <img src="../static/img/index/h1.png" alt="" width="580">
            </div>
            <div class="info">
                <h5>HENRIKSDAL 亨利克</h5>
                <h6>椅子，桦木，格雷伯，白色</h6>
                <div class="text">
                    愉快地享用完漫长的餐点后，如果桌布 椅套可以清洗，那可真是美事一桩。HENRIKSDAL 亨利克 可能 是我们最舒适的椅子了！
                </div>
                <div class="price">
                    <span>RMB</span>
                    <span>459.00</span>
                </div>
                <div class="btn">Buy</div>
            </div>
        </div>
        <div class="con2">
            <div class="info">
                <h5>HENRIKSDAL</h5>
                <h6>椅子，桦木，格雷伯，白色</h6>
                <div class="text">
                    愉快地享用完漫长的餐点后，如果桌布 椅套可以清洗，那可真是美事一桩。HENRIKSDAL 亨利克 可能 是我们最舒适的椅子了！
                </div>
                <div class="price">
                    <span>RMB</span>
                    <span>459.00</span>
                </div>
                <div class="btn">Buy</div>
            </div>
            <div class="imgBox">
                <img src="../static/img/index/h2.png" alt="" width="780">
            </div>
        </div>
    </div>
<!--人气推荐-->
    <div class="recommend">
        <h4></h4>
        <div class="con">
            <img src="../static/img/index/renqi1.png" alt="" width="1176">
        </div>
        <div class="con2">
            <img src="../static/img/index/renqi2.png" alt="" width="1176">
        </div>
    </div>
<!--今日特价-->
    <div class="specials">
        <h4></h4>
        <div class="swiper-container swiper-container2" >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../static/img/index/day01.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../static/img/index/day02.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../static/img/index/day03.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../static/img/index/day03.png" alt="">
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
<!--限时抢购-->
    <div class="time">
        <img src="../static/img/index/抢购.png" alt="" width="1176">
    </div>
<!--关于我们-->
    <div class="about">
        <h4></h4>
        <div class="con">
            家具是指人类维持正常生活是，必不可少的器具设施大类。家具也跟随 时代的脚步不断发展创新，到如今门类繁多，用料各异，品种齐全，用
            <br>
            Furniture refers to human beings to maintain normal life, engag
            Furniture refers to human beings to maintain normal life, engag
            Furniture refers to human beings to maintain normal life, engag

        </div>
        <div class="more">MORE</div>
    </div>

<!--footer-->
    <footer>
        <div class="box">
            <img src="../static/img/z-img/weixin.png" alt="">
            <div>官方微信</div>
        </div>
        <div class="box">
            <img src="../static/img/z-img/chengxu.png" alt="">
            <div>小程序</div>
        </div>
        <div class="box">
            <img src="../static/img/z-img/dianhua.png" alt="">
            <div>400-373-8333</div>
        </div>
        <ul>
            <li>售后保障</li>
            <li>物流配送</li>
            <li>收获指南</li>
        </ul>
        <ul>
            <li>购物无忧</li>
            <li>品质保证</li>
            <li>保养说明</li>
        </ul>
        <ul>
            <li>特色服务</li>
            <li>自由定制</li>
        </ul>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    loop: true,
    // 如果需要分页器
    pagination: '.swiper-pagination',

    // 如果需要前进后退按钮
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  })
    var mySwiper2 = new Swiper ('.swiper-container2', {
        loop: true,
        // 如果需要分页器
        pagination: '.swiper-pagination',

        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView : 4,
  })
  </script>
</html>